<Configuration status="info" name="own-virtual-machine" packages="by.babanin.vm">
    <Appenders>
        <File name="fout" fileName="own-virtual-machine.log" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <AsyncRoot level="info">
            <AppenderRef ref="fout" />
        </AsyncRoot>
    </Loggers>
</Configuration>